
@{
    ViewBag.Title = "Index";
    var x = ViewBag.x;
    var y = ViewBag.y;
    var result = x + y;
    var opName = ViewBag.opName;
}

<h1>ITUniver</h1>

<div>
   <b> @opName </b> (@x, @y) = @(result)
</div>